@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/*  hide the scrollbar */
::-webkit-scrollbar {
  width: 0; 
}
