
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

#app .rubik{
  font-family: 'Rubik', sans-serif !important;
}

.rubik{
  font-family: 'Rubik', sans-serif !important;
}